
.presentation {
    text-align: center;
    color: white;
    font-size: 28pt
}

#role {
    font-size: 18pt;
    color: #CD104D
}

.work-information {    border: 5px solid black;
    color: white;
    width: 60%

}
/* 
.contact {
    border: 5px solid black;
    color: white;
    width: 60%
}

.experience {
    border: 5px solid black;
    color: white;
    width: 60%
}

.publications {
    border: 5px solid black;
    color: white;
    width: 60%
} */