html, body {

    height:1122px;
    width:794px;
    margin: 0;
    padding: 0;
    page-break-after: always;
    max-height: 1122px;
    max-width: 794px;
}

.container {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #545454;
    width: inherit;
    height: inherit;
    margin-left: 50%;
    margin-right: 50%
}

.presentation {
    text-align: center;
    width: 65rem;
    font-size: 28pt
}


#role {
    font-size: 18pt;
    color: #CD104D
}

.work-information {
    background-color: #FFFFFF;
    width: 85%;
    float: left;
}

.contact {
    width: 100%}



.experience {
    width: 100%
}

.publications {
    padding-top: 5px;
    font-size: 18pt;
    width: 100%
}

.skills-info {
    margin-top: 100px;
    background-color: #6894AF;
    width: 50%;
    margin-left: 700px;
    color: #F8F8F8;
    margin-top: 0;

}
